form {

margin-top: 50px;
}

input, select {
    height: 40px;
    outline: 1px solid black;
    border: none;
    margin-right: 20px;
    font-size: 12px;

}
#btn {
position: absolute;

}
label {
    font-size: 14px;
}